header{
    background: #239FE9;
    background: radial-gradient(circle, #239FE9 0%, #011622 100%);
    display: flex;
    justify-content: space-around;    
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;
}

.header__container--left h1{
    font-size: var(--fontTitulo);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: lightgray;
}

.header__container--right{
    font-weight: bold;
    display: flex;
    gap: 1rem;
    white-space: nowrap;
    align-items: center;
}

.dark__togle{
    display: flex;
    border-radius: 50px;
    cursor: pointer;
    background-color: lightgrey;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 20px;
    width: 50px;
    transform: scale(1);
}

.fa-moon{
    color:#37268C;
}

.fa-sun{
    color: #f39c12;
}

.ball{
    background-color: lightgray;
    border-radius: 50%;
    position:absolute;
    top: 1px;
    left: 1px;
    height: 19px;
    width: 19px;
    transform: var(--ballTransition);
    transition: transform 0.1s linear;
}

.header__container--right span{
    text-decoration: none;
    color: lightgray;
}

.header__container--right span:hover{
    color: var(--bcgLista);
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main__nav--opcoes{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nav__container--usuario{
    background: var(--bcglinear1);
    background: linear-gradient(148deg, var(--bcglinear1) 0%, var(--bcglinear2) 100%);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border-radius: var(--radiusGrande);
    color: var(--corUsuario);
    font-size: var(--fontTitulo2);
    font-weight: 600;
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
}

.nav__container--usuario cite{
    font-size: var(--fontTitulo2);
    font-size: var(--fontPadrao);
    color: var(--textoPreto);
}

.nav__container--opcoes{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 1.5rem;
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
    padding: 15px;
    background: var(--bcglinear1);
    background: linear-gradient(148deg, var(--bcglinear1) 0%, var(--bcglinear2) 100%);
    border-radius: var(--radiusGrande);
}

.nav__container--opcoes li{
    color: var(--textoPreto);
    font-weight: 600;
}

.nav__container--opcoes li:hover{
    color: var(--letrasPrincipais);
    cursor: pointer;
}

.main__container--mostrarOpcoes{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.container--setores{
    padding: 15px;
    border-radius: var(--radiusGrande);
    background: var(--bcglinear1);
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    background: linear-gradient(148deg, var(--bcglinear1) 0%, var(--bcglinear2) 100%);
}

.container--setores h2{
    font-size: var(--fontTitulo);
    font-weight: bold;
    margin-bottom: 1.5rem;
    color:var(--textoPreto);
}

.setores{
    display: flex;
    overflow-x: auto;
    gap: 1.5rem
}

.setores li{
    margin-bottom: 1rem;
}

.setores li h3{
    font-weight: 600;
    text-align: center;
    font-size: var(--fontTitulo2);
    color: var(--corUsuario);
}

.botao--geral{
    font-size: var(--fontMedia);
    padding: 5px;
    white-space: nowrap;
}

.container--empresas{
    padding: 15px;
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    border-radius: var(--radiusGrande);
    background: var(--bcglinear1);
    background: linear-gradient(148deg, var(--bcglinear1) 0%, var(--bcglinear2) 100%);
}

.container--empresas h2{
    font-size: var(--fontTitulo);
    font-weight: bold;
    margin-bottom: 1.5rem;
    color:var(--textoPreto);
}

.empresas{
    display: flex;
    overflow-x: auto;
    gap: 1.5rem
}

.empresas li{
    height: auto;
    max-height: 230px;
    justify-content: flex-start;
    margin-bottom: 1rem;
    overflow-y: auto;
    min-width: 13rem;
    max-width: 13rem;
    height: 13rem;
    margin-bottom: 1rem;
}

.empresas li h3{
    text-align: center;
    font-weight: bold;
    color: var(--textoPreto);
}

.empresas li p{
    font-weight: bold;
    line-height: 20px;
    color: var(--corUsuario);
}

.empresas li p cite{
    color: var(--textoPreto);
}

.empresas li span{
    color: var(--textoPreto);
    font-weight: bold;
}

.container--departamentos{
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    padding: 15px;
    border-radius: var(--radiusGrande);
    background: var(--bcglinear1);
    background: linear-gradient(148deg, var(--bcglinear1) 0%, var(--bcglinear2) 100%);
}

.depCriar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.container--departamentos h2{
    font-size: var(--fontTitulo);
    font-weight: bold;
    margin-bottom: 1.5rem;
    color:var(--textoPreto);
}

.depCriar button{
    padding: 5px ;
    height: 2rem;
}

.departamentos{
    display: flex;
    overflow-x: auto;
    gap: 1.5rem
}

.departamentos li{
    height: auto;
    justify-content: space-between;
    align-items: none;
    margin-bottom: 1rem;
    max-width: 11rem;
    min-width: 11rem;
}

.liGeral h3{
    text-align: center;
    font-weight: bold;
    color: var(--textoPreto);
}

.departamentos li p{
    color: var(--corUsuario);
    font-weight: bold;
    line-height: 20px;
}

.departamentos--botao{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.departamentos--botao button{
    width: 4rem;
}

.container--funcionarios{
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    padding: 15px;
    border-radius: var(--radiusGrande);
    background: var(--bcglinear1);
    background: linear-gradient(148deg, var(--bcglinear1) 0%, var(--bcglinear2) 100%);    
}

.container--funcionarios h2{
    font-size: var(--fontTitulo);
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--textoPreto);
}

.funcionarios{
    display: flex;
    overflow-x: auto;
    gap: 1.5rem
}

.funcionarios li{
    min-width: 14rem;
    max-width: 14rem;
    height: 13rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.funcionarios li span{
    order: 1;
    color:var(--corUsuario);
    font-weight: bold;
}

.funcionarios li span cite{
    color: var(--textoPreto);
}

.funcionarios--botao{
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    order:2;
}

.funcionarios--botao button{
    width: 4rem;
}

.container--funcionarioSemDp{
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    padding: 15px;
    border-radius: var(--radiusGrande);
    background: var(--bcglinear1);
    background: linear-gradient(148deg, var(--bcglinear1) 0%, var(--bcglinear2) 100%);    
}

.container--funcionarioSemDp h2{
    font-size: var(--fontTitulo);
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--textoPreto);
}

.semDep{
    display: flex;
    overflow-x: auto;
    gap: 1.5rem
}

.semDep li{
    min-width: 13rem;
    max-width: 13rem;
    height: 13rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.semDep li span{
    font-weight: bold;
    line-height: 20px;
    color: var(--corUsuario);
}

.semDep li span cite{
    color: var(--textoPreto);
}

.hidden{
    display: none;
}

@media (min-width: 768px){

    header{
        margin-bottom: 0rem;
    }

    main{
        flex-direction: row;
        width: 100%;
        gap: 0rem;
        justify-content: flex-start;
        height: 100vh;
    }

    .main__nav--opcoes{
        width: 25%;
        height: 175vh;
        background: linear-gradient(148deg, var(--bcglinear1) 0%, var(--bcglinear2) 100%);
    }

    .nav__container--usuario{
        background: none;
        border-bottom: 1px solid var(--textoPreto);
        border-radius: 0px;
    }

    .nav__container--opcoes{
        background:none;
        flex-direction: column;
        border-bottom: 1px solid var(--textoPreto);
        border-radius: 0px;
        padding-bottom: 2.5rem;
    }

    .main__container--mostrarOpcoes{
        width: 75%;
        margin-top: 2rem;
    }

    .container--empresas{
        width: 90%;
        max-width: 75rem;
    }

    .container--setores{
        width: 90%;
        max-width: 75rem;
    }
    
    .container--departamentos{
        width: 90%;
        max-width: 75rem;
    }

    .container--funcionarios{
        width: 90%;
        max-width: 75rem;
    }

    .container--funcionarioSemDp{
        width: 90%;
        max-width: 75rem;
    }

}